<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="ISO-8859-1">
		<title>Help Page</title>
	</head>
	<body>
		<h1>Help</h1>
		<p>Tutti i diritti di myGarage© sono di proprietà di Coni Matteo e Stroveglia Davide</p>
		<p>Di seguito alcuni dei loro recapiti:</p>
		<ul>
			<li>Email
				<ul>
					<li>matteo.coni@students.uniroma2.eu</li>
					<li>davide.stroveglia@students.uniroma2.eu</li>
				</ul>
			</li>
			<li>Attualmente sono presenti solo questi contatti</li>
		</ul>
		
		<p>Per maggiorni informazioni visualizzare <a href="http://www.google.com">Google</a> oppure ritornare alla pagina <a href="HomeScreenSelectedVehicle.jsp">Home</a></p>
		
	</body>
</html>